<%- include('../partials/header.ejs') -%> 
<%- include('../partials/fixed-left-menu.ejs') -%>

<div class='right-body'>
    <section class='result-display-show'>
        <img src='<%= result.runner.avatar %>' alt='avatar' class='result-avatar'>
        <div>
            <h2><%= result.runner.name %>  </h2>
            <h5><%= result.resultDate %> Result_Date | Result_Location</h5>
            <h5>Race: </h5><h3><%= result.race %></h3>
        </div>
        <div class='result-show-content'>
            <h5>Distance:  </h5><h3><%= result.distance %></h3>
            <h5>Finishing Time: </h5><h3><%= result.finishTime %></h3>
            <h5>Pace: </h5><h3>Result_Pace</h3>
        </div>
        
    </section>

</div>
<%- include('../partials/footer.ejs') -%>