<%- include('../partials/header.ejs') -%> 
<%- include('../partials/fixed-left-menu.ejs') -%>

<div class='right-body'>
    <section class='result-display-showResult'>
        <img src='<%= result.runner.avatar %>' alt='avatar' class='result-avatar'>
        <div>
            <a href='/users/<%= result.runner._id %>' id='result-show-name'><h2 ><%= result.runner.name %> </h2></a>
            <h4> <%=  (result.resultDate) ? result.resultDate.toLocaleDateString() : 'No Date Given' %></h4>
            <h4>Race: </h4><h3><%= result.raceName %></h3>
        </div>
        <div class='result-show-contentResult'>
            <h5>Distance:  </h5><h3><%= result.distance %></h3>
            <h5>Finishing Time: </h5><h3><%= result.finishTime %></h3>
            <h5>Pace per Mile: </h5><h3>
                <% let paceSec = (result.totalSeconds / arrays.distConvert[result.distance]) %>
                <%= `${Math.floor(paceSec/60)}:${Math.floor(paceSec % 60)}` %> 
            </h3>
            
            <h5>Place:  </h5><h3><%= result.place ? result.place : 'N/A'%></h3>
            <h5>Focus:  </h5><h3><%= result.focus %></h3>
            <h5>Comments:  </h5><h3><%= result.comments %></h3>
        </div>

        
        

        <div id='show-img'>
            <%- (result.resultImage) ? `<img src=${result.resultImage}>` : `<div id='placeholder-photo'>No Image Added</div>` %>
        </div>
        
        <section class='show-exComments'>
            <% if (result.exComments.length) { %> 
                <% result.exComments.forEach(comment => { %> 
                    <div class='comment-display'>
                        
                        <div class='cmt-text'>
                            <h1>Comment from <%=comment.name%>:</h1>
                            <h3><%=comment.text%></h1>
                        </div>
                        <% if (user && user._id.equals(comment.user)) { %>
                        <form action='/comments/<%= comment._id%>?_method=DELETE' method='POST' class='delete-cmt-btn'>
                            <button type='submit'>Delete Comment</button>
                        </form>
                        <% } %>

                        
                    </div>
                <% }) %> 
            <% } %>
        </section>

        <form action='/results/<%= result._id%>/comments' id='comment-form' method='post'>Add a New Comment:
            <textarea name='text'></textarea>
            <button type='submit'>Submit Comment</button>
        </form>

       

    </section>

</div>
<%- include('../partials/footer.ejs') -%>