<%- include('../partials/header.ejs') -%> 
<%- include('../partials/fixed-left-menu.ejs') -%>

<div class='right-body'>
    <section class='result-display-show'>
        <img src='<%= result.runner.avatar %>' alt='avatar' class='result-avatar'>
        <div>
            <a href='/users/<%= result.runner._id %>'><h2><%= result.runner.name %>  </h2></a>
            <h4> <%=  (result.resultDate) ? result.resultDate.toLocaleDateString() : 'No Date Given' %></h4>
            <h4>Race: </h4><h3><%= result.raceName %></h3>
        </div>
        <div class='result-show-content'>
            <h5>Distance:  </h5><h3><%= result.distance %></h3>
            <h5>Finishing Time: </h5><h3><%= result.finishTime %></h3>
            <h5>Pace per Mile: </h5><h3>
                <% let paceSec = (result.totalSeconds / arrays.distConvert[result.distance]) %>
                <%= `${Math.floor(paceSec/60)}:${Math.floor(paceSec % 60)}` %> 
            </h3>
        </div>
    
        <div id='show-img'>
            <%- (result.resultImage) ? `<img src=${result.resultImage}>` : 'No Photo Given' %>
        </div>

    </section>

</div>
<%- include('../partials/footer.ejs') -%>