<%- include('../partials/header.ejs') -%> 

<section class='show-header'>

    <img src='<%= runner.avatar %> ' >
    <h2 class='user-show-name'><%= runner.name %> </h2>
    
</section>


<section class='my-results-show'>
    <% runner.results.forEach(result => { %> 
        <section class='result-display-show'>
            <div>
                <h5>Race: </h5><h3><%= result.race %></h3>
                <h5> <%=  (result.resultDate) ? result.resultDate.toLocaleDateString() : 'No Date Given' %></h5>
            </div>

            <div id='show-result-image'>
                <%- (result.resultImage) ? `<img src=${result.resultImage}>` : 'No Photo Given' %>
            </div>
            
            <div>
                <h5>Distance: </h5><h3><%= result.distance %></h3>
                <h5>Finishing Time: </h5><h3><%= result.finishTime %></h3>
            </div>

            <div>
                <h5>Place: </h5><h3><%= (result.place) ? result.place : 'No Place Given'%></h3>
                <h5>Focus: </h5><h3><%= (result.focus === '--') ? result.focus : 'No Focus Given'%></h3>
            </div>
                
            <div class='show-forms'>
                <form action='/results/<%= result.id %>' id='see-more-form'>
                    <button type='submit'>See More</button>
                </form>

                <% if (runner._id.equals(user._id)) { %>
                <form action='/results/<%= result._id %>?_method=DELETE' method='POST' id='delete-form'>
                    <button type='submit'>Delete Result</button>
                </form>
                <% } %> 
            </div>

        </section>
    <% }) %> 
</section>



<%- include('../partials/footer.ejs') -%>